@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


$gray-back: rgba(255, 255, 255, 0.08);
$border-radius: 12px;
$white-color: #fff;

* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, #6974d7, #08140482);
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 375px;
    height: 550px;
    border: 1px solid black;
    background-color: #0a0e31;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.29);
    display: flex;
    flex-direction: column;
    align-items: center;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        width: 100%;


        .choose {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 5%;

            span {
                width: 100%;
                text-align: center;
                display: block;
                font-size: 20px;
                cursor: pointer;
                color: rgba(128, 128, 128, 0.805);

            }

            .active-btn {
                color: #fff;
            }
        }

        .result {
            width: 75%;
            background: $gray-back;
            display: flex;
            justify-content: center;
            padding: 20px 0;
            border-radius: $border-radius;
            color: $white-color;
            cursor: pointer;
            position: relative;

            P {
                position: absolute;
                bottom: 2px;
                right: 10px;
                font-size: 10px;
                color: rgb(128, 128, 128);
                opacity: 0;
            }

            .visible-p {
                opacity: 1;
            }

            img {
                width: 20px;
                filter: contrast(0);
                position: absolute;
                right: 5px;
                top: 2px;
                opacity: 0;
                transition: .3s ease;
            }
        }

        .result:hover img {
            opacity: 1;
        }

        .range {
            width: 75%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            color: $white-color;

            .display-p {
                display: flex;
                gap: 3px;
            }

            span {
                display: flex;
                width: 100%;
                justify-content: space-around;
                align-items: center;
                background-color: $gray-back;
                padding: 20px 0;
                border-radius: $border-radius;
                font-size: 14px;

                input[type="range"] {
                    width: 60%;
                    height: 3px;
                    background-color: #ff0000;
                    border-radius: 4px;
                }

            }

            p {
                font-size: 12px;
                margin-bottom: 2px;
            }
        }

        .checkboxes {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $white-color;
            font-size: 24px;
            width: 75%;
            gap: 10px;


            .label-input {
                display: flex;
                justify-content: space-between;
                width: 100%;

                input,
                label {
                    cursor: pointer;
                }

                input[type="checkbox"] {
                    appearance: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                }

                input[type="checkbox"]:checked::before {
                    content: "";
                    display: block;
                    width: 20px;
                    height: 20px;
                    background-color: #26ff00;
                    border-radius: 50%;
                }

                input[type="checkbox"]::before {
                    content: "";
                    display: block;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: $gray-back;
                }
            }
        }

        .generate-btn {
            width: 75%;
            background-color: $gray-back;
            cursor: pointer;
            border-radius: $border-radius;
            border: 0;
            padding: 20px 0;
            color: $white-color;
            font-size: 16px;
            background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
        }
    }
}